body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.video-container {
    margin: 20px auto;
}

#box {
    width: 100px;
    height: 100px;
    background-color: crimson;
    position: relative;
    margin: 30px auto;
}
